<% if post_dog.favorited_by?(current_user) %>
  <p>
    <%= link_to post_dog_favorites_path(post_dog), method: :delete do %>
      <i class="fas fa-thumbs-up fa-2x"></i>
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to post_dog_favorites_path(post_dog), method: :post do %>
      <i class="far fa-thumbs-up fa-2x"></i>
    <% end %>
  </p>
<% end %>