<div class="row no-gutters">
  <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-3 bg-light" >
    <h5 class="text-center mt-5">Posting My Dog</h5>
      <div class="form-body p-4">
        <%= form_with model: post_dog do |f| %>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text rounded" aria-hidden="true"><i class="fas fa-image"></i></span>
            </div>
            <div class="ml-3"><%= f.file_field :post_dog_image, accept: 'image/*' %></div>
          </div>
          <div class="input-group mb-4 mt-4">
            <div class="input-group-prepend">
              <span class="input-group-text rounded" aria-hidden="true"><i class="far fa-comment"></i></span>
            </div>
            <div class="ml-3"><%= f.text_area :body, autofocus: true, row: "5", placeholder: "内容を入力", class: "form-control" %></div>
          </div>
          <hr>
          <%= f.submit '送信', class: "btn btn-block btn-outline-danger mt-4" %>
        <% end %>
      </div>
  </div>
</div>