<div class="container mt-5">
  <div class="my-2"><%= flash[:alert] %></div>
    <div class="row">
      <div class="col-md-12 col-md-10">
        <h2 class="doggies-title">All Doggies</h2>
          <div class="text-right pr-5">
            <%= link_to new_post_dog_path, class: "btn btn-danger" do %>
              <i class="fas fa-plus-circle"></i> NEW POST
            <% end %>
          </div>
      </div>
    </div>

  <%= render 'index', post_dogs: @post_dogs %>
  <%= paginate @post_dogs %>
</div>