<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Post Dog Index</h2>
      <%= link_to 'New Post', new_post_dog_path %>
      
      <%= render 'index', post_dogs: @post_dogs %>
    </div>
  </div>
</div>