<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 mt-5 my-5">
      <h1>About</h1>
        <h5 class="pt-3"><strong>The Paw Stationとは</strong></h5>
        <p class="pt-3">
          「The Paw Station」は、愛犬の写真投稿やおすすめのお散歩コースの投稿・閲覧、
          オフ会の開催が気軽にできる犬が好きな人たちのコミュニティサイトです。<br>
          愛犬との思い出を投稿したり、気軽にオフ会を開催したり、おすすめのドッグランやお気に入りの散歩コースを記録に残すことができます。
        </p>
    </div>

    <div class="col-md-6 offset-1 my-5 ml-5">
      <h4 class="py-2"><i class="fas fa-paw"></i> お散歩・ドッグランの情報 <i class="fas fa-paw"></i></h4>
        <p>
          おすすめの散歩コースやドッグラン情報などを投稿できます。<br>
          会員登録せずに閲覧できますが、ブックマークやコメントは投稿することはできません。
        </p>
      <hr>

      <h4 class="py-2"><i class="fas fa-bone"></i> オフ会の開催 <i class="fas fa-bone"></i></h4>
        <p>
          オフ会を気軽に開催できます！<br>
          会員登録をしていただくと、閲覧・オフ会に参加することができます。
        </p>
      <hr>

      <h4 class="py-2"><i class="fas fa-dog"></i> 愛犬の投稿 <i class="fas fa-dog"></i></h4>
        <p>
          会員限定！愛犬の画像を自由に投稿できます。<br>
          愛犬との思い出を気軽に投稿できます♪
        </p>
      <hr>
    </div>
  </div>
</div>