<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 mt-5 my-5">
      <h1 class="about">About</h1>
        <h5 class="pt-3"><strong class="about">The Paw Stationとは</strong></h5>
        <p class="pt-3">「The Paw Station」は、簡単に愛犬の写真を投稿できたり、おすすめのお散歩コースやドッグランの共有ができます。</p>
        <p class="pt-3">気軽にイベントを開催することもでき、犬が大好きな人のためのコミュニティサイトです。</p>
        <p class="pt-3">ぜひ、犬友の輪を広げていきましょう！</p>
    </div>

    <div class="col-md-6 offset-1 my-5 ml-5">
      <h5 class="py-2"><i class="fas fa-paw"></i> お散歩コース・ドッグランの情報を閲覧しよう <i class="fas fa-paw"></i></h5>
        <p>
          おすすめの散歩コースやドッグラン情報など、閲覧・投稿ができます。<br>
          どなたでも閲覧できますが、投稿したりブックマーク、コメントは新規会員登録が必要です。
        </p>
      <hr>

      <h5 class="py-2"><i class="fas fa-bone"></i> イベントの開催・参加しよう <i class="fas fa-bone"></i></h5>
        <p>
          イベントやオフラインミーティング（オフ会）を気軽に開催することができます。
          気になるイベントやオフ会があれば参加して、交流を深めましょう！<br>
          新規会員登録後に利用することができます。
        </p>
      <hr>

      <h5 class="py-2"><i class="fas fa-dog"></i> 愛犬との思い出を投稿しよう <i class="fas fa-dog"></i></h5>
        <p>
          愛犬との思い出を簡単に投稿できます。
          他のユーザーの投稿を閲覧やコメントすることができます。<br>
          気になるユーザーがいたら積極的にフォローしましょう！
        </p>
      <hr>
    </div>
  </div>
</div>