<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">About</h1>
        <p class="text-center">
          愛犬の写真投稿やおすすめのお散歩コースの投稿・閲覧、<br>
          オフ会の開催が気軽にできる犬が好きな人たちのコミュニティサイトです！<br>
        </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-10">
      <%#= イメージ画像入れる %>
      <h3>お散歩・ドッグラン情報</h3>
        <p>
          おすすめの散歩コースやドッグラン情報などを投稿できます。<br>
          会員登録せずに閲覧できますが、ブックマークやコメントは投稿することはできません。
        </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <%#= イメージ画像入れる %>
      <h3>オフ会開催</h3>
        <p>
          気軽にオフ会を開催できます！<br>
          会員登録せずに閲覧できますが、参加する場合は会員登録が必要です。
        </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <%#= イメージ画像入れる %>
      <h3>愛犬投稿</h3>
        <p>
          会員限定！愛犬の画像を自由に投稿できます。<br>
          愛犬との思い出を気軽に投稿できます♪
        </p>
    </div>
  </div>
</div>