<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 col-sm-10 my-5">
      <h1 class="about">About</h1>
        <h5 class="pt-3"><strong class="top-title">The Paw Stationとは</strong></h5>
        <p class="pt-3">「The Paw Station」は、簡単に愛犬の写真を投稿できたり、おすすめのお散歩コースやドッグランの共有ができます。</p>
        <p class="pt-3">気軽にイベントを開催することもでき、犬が大好きな人のためのコミュニティサイトです。</p>
        <p class="pt-3">ぜひ、犬友の輪を広げていきましょう！</p>
    </div>

    <div class="col-md-6 col-sm-10 ml-md-5 my-5">
      <div class="box1">
        <span class="box-title"><i class="fas fa-paw"></i> Walk info</span>
        <p>
          おすすめの散歩コースやドッグラン情報など、閲覧・投稿ができます。<br>
          どなたでも閲覧できますが、投稿したりブックマーク、コメントは新規会員登録が必要です。
        </p>
      </div>

      <div class="box2">
        <span class="box-title"><i class="fas fa-bone"></i>  Meetup</span>
        <p>
          イベントやオフラインミーティング（オフ会）を気軽に開催することができます。
          気になるイベントやオフ会があれば参加して、交流を深めましょう！<br>
          新規会員登録後に利用することができます。
        </p>
      </div>

      <div class="box3">
        <span class="box-title"><i class="fas fa-dog"></i> Doggies</span>
        <p>
          愛犬との思い出を簡単に投稿できます。
          他のユーザーの投稿を閲覧やコメントすることができます。<br>
          気になるユーザーがいたら積極的にフォローしましょう！
        </p>
      </div>
    </div>
  </div>
</div>