<div class="container mt-5">
  <div class="row">
    <div class="col-md-5">
      <div class="my-2"><%= flash[:alert] %></div>
      <h3>The Paw Stationにようこそ！</h3><br>
      ここでは、犬が大好きな人が集まる道の駅のような場所です。<br>
      愛犬との思い出を投稿したり、気軽にオフ会を開催したり、おすすめのドッグランやお気に入りの散歩コースを記録に残すことができます。<br>
    </div>
    
    <div class="main-visual col-md-6 offset-md-1">
      
    </div>
  </div>
</div>