<div class="container mt-md-5">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h1 class="text-center">The Paw Station</h1>
        <p class="border">
          The Paw Stationでは、お気に入りのお散歩コースやドッグラン情報、<br>
          オフ会の開催が気軽にできるコミュニティサイトです！
          会員でない方も情報の閲覧はできますが、ブックマークやコメントをするには会員登録が必要です。
        </p>
    </div>
  </div>
</div>