<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 col-sm-10">
      
      <div class="card w-75 mx-auto mb-3">
        <div class="card-body">
          <h5 class="card-title">User's Patrol</h5>
            <p class="card-text">
              不適切なユーザーがいた場合、そのユーザーを利用停止にすることができます。<br>
              編集画面で「利用中」・「利用停止」が選べます。
            </p>
            <p><%= link_to 'Go to Users page', admin_users_path, class: "btn btn-info" %></p>
        </div>
      </div>
      
      <div class="card w-75 mx-auto my-3">
        <div class="card-body">
          <h5 class="card-title">Walk's Patrol</h5>
            <p class="card-text">
              不適切な情報やコメントがあれば管理人側から削除ができます。<br>
              詳細画面から削除することができます。
            </p>
            <p><%= link_to 'Go to Walk page', admin_walks_path, class: "btn btn-warning" %></p>
        </div>
      </div>
      
      <div class="card w-75 mx-auto my-3">
        <div class="card-body">
          <h5 class="card-title">Dog's Patrol</h5>
            <p class="card-text">
              不適切な投稿やコメントがあれば管理人側から削除ができます。<br>
              詳細画面から削除することができます。
            </p>
            <p><%= link_to 'Go to Dog page', admin_post_dogs_path, class: "btn btn-danger" %></p>
        </div>
      </div>
      
      <div class="card w-75 mx-auto my-3">
        <div class="card-body">
          <h5 class="card-title">Meetup's Patrol</h5>
            <p class="card-text">
              不適切なオフ会があれば公開停止することができます。<br>
              編集画面から「公開」・「公開停止」にすることができます。
            </p>
            <p><%= link_to 'Go to Meetup page', admin_groups_path, class: "btn btn-success" %></p>
        </div>
      </div>
    </div>
  </div>
</div>