<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Post Dog Index</h2>
      <%= render 'public/post_dogs/index', post_dogs: @post_dogs %>
      <div class="text-center"><%= paginate @post_dogs %></div>
    </div>
  </div>
</div>