@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

header {
  background-color: #a2c2e6;
}

header .navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
}

main .about {
  font-family: 'Ubuntu', sans-serif;
}

footer {
  background-color: #a2c2e6;
}
