@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

header {
  background-color: #68a4d9;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
}

// doggies
.nav-item1 {
  background-color: #f19ca7;
  border-radius: 25px;
  width: 16%;
}

// walk info
.nav-item2 {
  background-color: #fdd35c;
  border-radius: 25px;
  width: 18%;
}

// meetup
.nav-item3 {
  background-color: #79c06e;
  border-radius: 25px;
  width: 15%;
}

// admin/users
.nav-item4 {
  background-color: #00afcc;
  border-radius: 25px;
  width: 15%;
}

// guest log-in
.nav-item5 {
  background-color: #f19ca7;
  border-radius: 25px;
  width: 23%;
}

// admin/log-in
.nav-item6 {
  background-color: #f19ca7;
  border-radius: 25px;
  width: 31%;
}

// admin/sign-up
.nav-item7 {
  background-color: #79c06e;
  border-radius: 25px;
  width: 33%;
}

main .top-title {
  font-family: 'Ubuntu', sans-serif;
  width: auto;
  padding: 1rem 2rem;
  border-top: 3px solid #f39800;
  border-bottom: 3px solid #f39800;
}

.top-new {
  font-family: 'Ubuntu', sans-serif;
  width: 250px;
  padding: 1rem 2rem;
  border-top: 3px solid #fdd35c;
  border-bottom: 3px solid #fdd35c;
}

.about {
  font-family: 'Ubuntu', sans-serif;
  width: 200px;
  padding: 1rem 2rem;
  border-top: 3px solid #f39800;
  border-bottom: 3px solid #f39800;
}

.about-subtitle {
  font-family: 'Ubuntu', sans-serif;
}

.about-box1 {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #fdd35c;
  border-radius: 8px;
}

.about-box1 .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: #fcc800;
  font-weight: bold;
}

.about-box1 p {
  margin: 0; 
  padding: 0;
}

.about-box2 {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #79c06e;
  border-radius: 8px;
}

.about-box2 .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: #79c06e;
  font-weight: bold;
}

.about-box2 p {
  margin: 0; 
  padding: 0;
}

.about-box3 {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #f19ca7;
  border-radius: 8px;
}

.about-box3 .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: #f19ca7;
  font-weight: bold;
}

.about-box3 p {
  margin: 0; 
  padding: 0;
}

.doggies-title {
  font-family: 'Ubuntu', sans-serif;
  width: 240px;
  padding: 1rem 2rem;
  border-top: 3px solid #f19ca7;
  border-bottom: 3px solid #f19ca7;
}

.doggies-detail {
  padding: 0.5em 1em;
  margin: 2em 0;
  border: double 5px #f5b2b2;
  border-radius: 8px;
}

.doggies-comment {
  border: none;
}

.walk-title {
  font-family: 'Ubuntu', sans-serif;
  width: 380px;
  padding: 1rem 2rem;
  border-top: 3px solid #fdd35c;
  border-bottom: 3px solid #fdd35c;
}

.walk-detail {
  padding: 0.5em 1em;
  margin: 2em 0;
  border: double 5px #fdd35c;
  border-radius: 8px;
}

.walk-comment {
  border: none;
}

.meetup-title {
  font-family: 'Ubuntu', sans-serif;
  width: 240px;
  padding: 1rem 2rem;
  border-top: 3px solid #79c06e;
  border-bottom: 3px solid #79c06e;
}

.meetup-detail {
  font-family: 'Ubuntu', sans-serif;
  width: 300px;
  padding: 1rem 2rem;
  border-top: 3px solid #79c06e;
  border-bottom: 3px solid #79c06e;
}

.pagination {
  justify-content: center;
}

footer {
  background-color: #68a4d9;
}
