<% if walk.bookmarked_by?(current_user) %>
  <p>
    <%= link_to walk_bookmarks_path(walk), method: :delete do %>
      <i class="fas fa-bookmark fa-2x"></i>
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to walk_bookmarks_path(walk), method: :post do %>
      <i class="far fa-bookmark fa-2x"></i>
    <% end %>
  </p>
<% end %>