<div class="container mt-md-5">
  <div class="row">
    <div class="col-md-12">
      <div><%= link_to 'NEW POST', new_walk_path, class: "btn btn-outline-secondary" %></div>
      
      <%= render 'index', walks: @walks, tag: @tag %>
      </div>
    </div>
  </div>
</div>