<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h2>ユーザー一覧</h2>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>ユーザー名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td>
                <% if user.is_deleted %>
                  <strong class="text-secondary">利用停止</strong>
                <% else %>
                  <strong class="text-success">利用中</strong>
                <% end %>
              </td>
              <td><%= link_to '詳細', edit_admin_user_path(user.id) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>