<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-4'>
      <!--User情報-->
      <%#= render 'info', user: @user %>
    </div>
    
    <div class='col-md-7 offset-md-1'>
      <h2>My Page</h2>
      <%= link_to '編集', edit_users_path %>
    </div>
  </div>
</div>