<div class='container mt-5'>
  <div class='row'>
    <div class='col-md-3 col-sm-3'>
      <%= render 'info', user: @user %>
    </div>
    
    <div class='col-md-8 col-sm-8 offset-1'>
      <h2><%= @user.name %>'s </h2>
        <%= render 'public/post_dogs/index', post_dogs: @post_dogs %>
    </div>
  </div>
</div>