<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <p class="text-center"><strong>The Paw Stationを退会</strong></p>
        <p>
          退会のお手続きをされますと、今まで投稿した内容やブックマークなどが全て消去されます。<br>
          再度会員としてご利用いただく場合は、新規登録のお手続きが必要になります。<br>
          本当に退会しますか？
        </p>
        <%= link_to 'キャンセル', users_path, class: "btn btn-primary" %>
        <%= link_to '退会する', withdraw_users_path, method: :patch, class: "btn btn-danger" %>
    </div>
  </div>
</div>